{% extends 'base/base.html' %}
{% block rules %} class="menu-active" {% endblock rules %}
{% block content %}

<section id="faq" class="wow fadeInUp">

    <div class="container">

        <div class="section-header">
            <br />
            <h2>Rules to be followed</h2>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-9">
                <ul id="faq-list">

                    <li>
                        <a href="#" >Pc or Emulator players are not allowed.<i class="fa fa-warning"></i></a>
                    </li>

                    <li>
                        <a href="#" >No Hacking, Cheating or verbal abuse of any Glitch.<i class="fa fa-warning"></i></a>
                    </li>

                    <li>
                        <a href="#" >If your found doing any Hacking or Cheating your account will be BANNED for life time! Without any payment.<i class="fa fa-warning"></i></a>
                    </li>
                    <li>
                        <a href="#" >If you found any player hacking or cheating Please record the video and send it to us. We will take proper action against the player.<i class="fa fa-warning"></i></a>
                    </li>

                    <li>
                        <a href="#" >Do not invite Other players in the room.<i class="fa fa-warning"></i></a>
                    </li>

                    <li>
                        <a href="#" >Do not share your room ID or Password.<i class="fa fa-warning"></i></a>
                    </li>
                    <li>
                        <a href="#" >your Room ID and Password will be given 5 minute befor the match starts. Please join the room before match starts.<i class="fa fa-warning"></i></a>
                    </li>

                    <li>
                        <a href="#" >If your Id is inactive for more then 3 month ypour ID eill get deactivated.<i class="fa fa-warning"></i></a>
                    </li>

                    <li>
                        <a href="#" >Keep your Game updated to join the room.<i class="fa fa-warning"></i></a>
                    </li>
                    

                </ul>
            </div>
        </div>

    </div>

</section>

{% endblock %}